html{height:100%;color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;} button { background: none; border: none; margin: 0; padding: 0; width: auto; overflow: visible; line-height:inherit;}button::-moz-focus-inner{padding:0;border:0;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	font-family:"Karmilla", arial, sans-serif;
	margin:0;
}
header{
	position:fixed;
	top:0px;
	left:0px;
	z-index:5;
	width:150px;
}
.titles{
	margin:10px;
}

nav{
   margin-top:20px; 
}
nav li{
    list-style-type:none;
    display:block;
    line-height:15px;
    margin-bottom:10px;
}
nav li a{
    font-size:13px;
    text-decoration:none;
    border-bottom:1px solid #ccc;
}
nav li.H1{
}
nav li.H2{
    margin-left:10px;
}
nav li.H3{
    margin-left:20px;
}
.main-content{
    border-left:1px solid black;
	margin:0 0 0 200px;
    padding:0 0 50px 50px;
}
#versions{
    padding-top:110px;
	overflow:hidden;
}
#textboxes{
	width:100%;
	z-index:3;
}
div.textbox{
	width:100%;
	max-width:550px;
}

.vbox{
	width:400px;
    float:left;
	margin:0px 100px 100px 0;
}
.vbox.current .version:before{
    content:"currently";
    color:red;
    display:block;
    position:absolute;
    top:5px;
    right:5px;
}
.vbox img{
	display:block;
	width:400px;
	height:auto;
	background:#DDE0E3 url(img/wait.png) no-repeat center center;
	font-family:"source_code_pro", courier new, monospace;
	font-size:12px;
	color:#777;
}
.caption{
	font-family:"source_code_pro", courier new, monospace;
	font-size:13px;
	list-style-type:none;
	line-height:16px;
	margin:10px 0 0 0;
	padding:7px 9px 12px 9px;
	border:1px solid black;
    position:relative;
}

.vbox .visit a{
	background:#FFFDD6;
}


/* Typography */
body{
	font-size:16px;
}
h1{
	font-size:18px;
}
header h2{
	font-size:12px;
	margin:0;
	font-weight:normal;
	font-family:"source_code_pro", courier new, monospace;
	line-height:13px;
}
h1, h2, h3, h4{
	font-weight:bold;
	margin:20px 0 2px 0;
}

#textboxes h1, #textboxes h2, #textboxes h3, #textboxes h4 {
    padding:20px 0 2px 0;
    display:block;
}

p{
	margin:0 0 10px 0;
}
a:hover{
	color:#555;
	text-decoration:none;
}
a, a:active{
	color:black;
}
pre{
	font-family:"source_code_pro", courier new, monospace;
	font-size:15px;
	line-height:21px;
	letter-spacing:1px;
    background:#DDE0E3;
    padding:3px;
    margin-bottom:5px;
    white-space:pre-wrap;
}
#textboxes ol,#textboxes ul{
	list-style-type:decimal;
	padding:0 0 0 40px;
	margin:0 0 10px 0;
}

/* Fonts */

@font-face {
	font-family: 'AnkaHackerRegular';
	src: url('font/ankahacker-r.eot');
	src: url('font/ankahacker-r.eot?#iefix') format('embedded-opentype'),
		url('font/ankahacker-r.woff') format('woff'),
		url('font/ankahacker-r.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'karmilla';
	src: url('font/karmilla-regular-009-webfont.eot');
	src: url('font/karmilla-regular-009-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/karmilla-regular-009-webfont.woff') format('woff'),
		url('font/karmilla-regular-009-webfont.ttf') format('truetype'),
		url('font/karmilla-regular-009-webfont.svg#karmillaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'karmilla';
	src: url('font/karmilla-bold-009-webfont.eot');
	src: url('font/karmilla-bold-009-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/karmilla-bold-009-webfont.woff') format('woff'),
		url('font/karmilla-bold-009-webfont.ttf') format('truetype'),
		url('font/karmilla-bold-009-webfont.svg#karmillabold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'source_code_pro';
	src: url('font/sourcecodepro-regular-webfont.eot');
	src: url('font/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/sourcecodepro-regular-webfont.woff') format('woff'),
		url('font/sourcecodepro-regular-webfont.ttf') format('truetype'),
		url('font/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'source_code_pro';
	src: url('sourcecodepro-semibold-webfont.eot');
	src: url('sourcecodepro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/sourcecodepro-semibold-webfont.woff') format('woff'),
		url('font/sourcecodepro-semibold-webfont.ttf') format('truetype'),
		url('font/sourcecodepro-semibold-webfont.svg#source_code_prosemibold') format('svg');
	font-weight: bold;
	font-style: normal;
}